.nav-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.nav {
  width: 90%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}
.auth-btn {
  border: none;
  background-color: white;
  padding: 1rem;
}
.logo {
  scale: 0.8;
  padding-top: 30px;
}
